// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
th{
    text-decoration: solid;
    font-size: 15pt;
}

th, td{
    border: 1px solid black;
    padding: 5px;
}

.center-table td{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    text-decoration: solid;color: blue;
}

.comment{
    font-style: italic;font-size: 12pt;
} 

.center-table{
    margin-left: auto;
    margin-right: auto;
    }

.center{
    text-align: center;
}